<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MagazaDuzen.Properties.Settings.TechnologyConnectionString"
            connectionString="Data Source=emre\MSSQLSERVER01;Initial Catalog=Technology;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
        <add name="MagazaDuzen.Properties.Settings.StokKontrolConnectionString"
            connectionString="Data Source=emre\MSSQLSERVER01;Initial Catalog=StokKontrol;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>